@charset "utf-8";
@import url("./default.css");

/* LAYOUT */
body {background-color: #E5E5E5;}
#wrap {background-color: #E5E5E5; padding: 70px 0;}
.wrap > .inner {max-width:1130px; margin:0 auto; padding: 0 25px;}
.wrap > .inner:after {content:""; display:block; height:0; visibility:hidden; clear:both;}

/* 공통 */
.mBlock {display:none;}
.mNone {display:block;}

@media only all and (max-width:1025px) {/*기본 1025 + 패딩 20 이하 태블릿 */
	.wrap .inner {padding:0 20px;}
}
@media only all and (max-width:759px) {/*기본 759 + 패딩 15 이하 모바일 */
	.wrap > .inner {padding:0 15px;}
	.mBlock {display:block;}
    .mNone {display:none;}
}

/* HEADER */
header {text-align: center; margin-bottom: 25px;}
header h1 {font-size: 2.5rem; font-weight: bold;}


/* btnArea */
.btnArea {text-align: right; padding-bottom: 16px;}
.btnArea button {border-radius: 8px; padding: 5px 24px; font-size: 1rem; font-weight: 500; margin-right: 10px; box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, .2);}
.btnArea button:last-child {margin-right: 0;}

/* boxArea */
.boxArea input[type="checkbox"] { display: none; }
/* .boxArea {display: flex; gap: 40px; justify-content: left; flex-wrap: wrap;} */
.boxArea {display: flex; flex-wrap: wrap; align-items: center; justify-content: center; gap: 40px; max-width:1130px; margin: 0 auto;}
.boxArea .in {padding: 20px;}
.boxArea .boxLabel {display: inline-block; background-color: #fff; max-width: 350px; width: 100%; border-radius: 10px; box-shadow: 0px 4px 4px 0px rgb(0 0 0 / 20%);}
.boxArea .box {border-radius: 10px;}
.boxArea .boxLabel input:checked+.box {border: 2px solid var(--red);}
.box {position: relative;}
.box .title {border-bottom: 1px solid var(--gray);line-height: 1;}
.box .title input {width: 100%; padding: 0; font-size: 1.37rem; line-height: 1.5;  font-weight: 500; }
.box .title .tit {font-size: 1.37rem; line-height: 1.5;  font-weight: 500; }
.box .title span{display: block; }
.box .title .date {font-size: 0.8rem; color: var(--gray); padding-top: 5px;}
.box .title .listCount {font-size: 0.85rem; color: var(--green); font-weight: 600; padding-top: 30px;}
.box .title .listCount i {font-style: normal;}
.box .toDoLists {}
.box .toDoLists .in {padding-bottom: 30px;}
.box .toDoLists ul {min-height: 280px; height: 280px; overflow-y: auto;}
.box .toDoLists ul::-webkit-scrollbar { width: 4px;}
.box .toDoLists ul::-webkit-scrollbar-thumb { background-color: #2f3542; border-radius: 10px;}
.box .toDoLists ul::-webkit-scrollbar-track { background-color: grey; border-radius: 10px;}
.box .toDoLists ul li {margin-bottom: 10px; position: relative;}
.box .toDoLists li label {position: relative; font-size: 1rem;}
.box .toDoLists li label::before {content: ''; display: inline-block; width: 24px; height: 24px; margin-right: 10px; border: 2px solid #ccc; border-radius: 50%; vertical-align: middle; cursor: pointer;}
.box .toDoLists li input:checked+label {color: #ccc;}
.box .toDoLists li input:checked+label:before {border-color: var(--green);}
.box .toDoLists li input:checked+label:after {content: ''; position: absolute; width: 7px; height: 13px; border-bottom: 2px solid var(--green); border-right: 2px solid var(--green); left: 14px; top: 50%; transform: translate(-50%, -50%) rotate(45deg);}
.box .toDoLists ul li .delListBtn {position: absolute; right: 0; top: 0; width: 23px; height: 23px; background: url(../image/trash_gray.png) no-repeat center / contain; cursor: pointer;}
.box .toDoLists ul li .delListBtn:hover {background-image: url(../image/trash_red.png);}
.box .addToDoArea {display: none; position: absolute; bottom: 0; left: 0; right: 0; background-color: #f5f5f5; border-top: 1px solid #E7E7E7; border-radius: 0 0 10px 10px;}
.box .addToDoArea input {width: 100%; padding: 0; font-size: 1rem; height: 2.5rem; margin: 10px 0 20px; }

.toDoBtn {position: absolute; left: 50%;bottom: 0; transform: translate(-50%, 50%); background: url(../image/plus.png) no-repeat center ;  width: 3.6em; height: 3.6em; transition: all .4s; border-radius: 50%;}
.addToDo {background-color: var(--green);}
.addToDo:hover {transform: translate(-50%, 50%) rotate(180deg);}
.exitToDo {background-color: var(--red); transform: translate(-50%, 50%) rotate(45deg);}
.exitToDo:hover {transform: translate(-50%, 50%) rotate(225deg);}


@media only all and (max-width:1179px){
	.boxArea {gap:40px 20px; max-width:740px;}
}
@media only all and (max-width:779px){
}

@media only all and (max-width:1025px) {/*기본 1025 + 패딩 20 이하 태블릿 */

}
@media only all and (max-width:759px) {/*기본 759 + 패딩 15 이하 모바일 */
	.boxArea .in {padding: 15px;}
}