@charset "utf-8";
@import url("default.css");

/* LAYOUT */
body {background-color: #E5E5E5;}
#wrap {background-color: #E5E5E5; padding-top: 70px 0;}
.wrap > .inner {max-width:1130px; margin:0 auto; padding: 0 25px;}
.wrap > .inner:after {content:""; display:block; height:0; visibility:hidden; clear:both;}

/* 공통 */
.mBlock {display:none;}
.mNone {display:block;}

@media only all and (max-width:1025px) {/*기본 1025 + 패딩 20 이하 태블릿 */
	.wrap .inner {padding:0 20px;}
}
@media only all and (max-width:759px) {/*기본 759 + 패딩 15 이하 모바일 */
	.wrap > .inner {padding:0 15px;}
	.mBlock {display:block;}
    .mNone {display:none;}
}

/* HEADER */
header {text-align: center; margin-bottom: 25px;}
header h1 {font-size: 2.5rem; font-weight: bold;}


/* btnArea */
.btnArea {text-align: right; padding-bottom: 16px;}
.btnArea button {border-radius: 8px; padding: 5px 24px; font-size: 1rem; font-weight: 500; margin-right: 10px; box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, .2);}
.btnArea button:last-child {margin-right: 0;}

/* boxArea */
.boxArea input[type="checkbox"] { display: none; }
/* .boxArea {display: flex; gap: 40px; justify-content: left; flex-wrap: wrap;} */
.boxArea {display: flex; flex-wrap: wrap; align-items: center; justify-content: center; gap: 40px; max-width:1130px; margin: 0 auto;}
.boxArea .in {padding: 20px;}
.boxArea .boxLabel {display: inline-block; background-color: #fff; max-width: 350px; width: 100%; border-radius: 10px;}
.boxArea .box {border-radius: 10px;}
.boxArea .boxLabel input:checked+.box {border: 2px solid var(--red);}
.box .title {font-size: 1.37rem; border-bottom: 1px solid var(--gray); font-weight: 500; line-height: 1;}
.box .title span{display: block; padding-top: 10px;}
.box .title .date {font-size: 0.8rem; color: var(--gray);}
.box .title .listCount {font-size: 0.8rem; color: var(--green); font-weight: 600; padding-top: 30px;}
.box .toDoLists {}
.box .toDoLists .in {}
.box .toDoLists ul {min-height: 280px; height: 280px; overflow-y: auto;}
.box .toDoLists ul::-webkit-scrollbar { width: 4px;}
.box .toDoLists ul::-webkit-scrollbar-thumb { background-color: #2f3542; border-radius: 10px;}
.box .toDoLists ul::-webkit-scrollbar-track { background-color: grey; border-radius: 10px;}
.box .toDoLists ul li {margin-bottom: 10px; position: relative;}
.box .toDoLists li label {position: relative; }
.box .toDoLists li label::before {content: ''; display: inline-block; width: 24px; height: 24px; margin-right: 10px; border: 2px solid #ccc; border-radius: 50%; vertical-align: middle; cursor: pointer;}
.box .toDoLists li input:checked+label {color: #ccc;}
.box .toDoLists li input:checked+label:before {border-color: var(--green);}
.box .toDoLists li input:checked+label:after {content: ''; position: absolute; width: 7px; height: 13px; border-bottom: 2px solid var(--green); border-right: 2px solid var(--green); left: 14px; top: 50%; transform: translate(-50%, -50%) rotate(45deg);}
.box .toDoLists ul li .delBtn {position: absolute; right: 0; top: 0; width: 23px; height: 23px; background: url(/image/trash_gray.png) no-repeat center / contain; cursor: pointer;}
.box .toDoLists ul li .delBtn:hover {background-image: url(/image/trash_red.png);}
/* 7 13 */

@media only all and (max-width:1179px){
	.boxArea {gap:40px 20px; max-width:740px;}
}
@media only all and (max-width:779px){
}

@media only all and (max-width:1025px) {/*기본 1025 + 패딩 20 이하 태블릿 */

}
@media only all and (max-width:759px) {/*기본 759 + 패딩 15 이하 모바일 */
	.boxArea {gap: 20px;}
	.boxArea .in {padding: 15px;}
}